.n1 {
    font-size: 24px;
    font-weight: bold;
    background-color: #92c98d;
    padding: 15px;
    border-radius: 7px;
}

.n1 a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.n1 ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.n1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s;
}
.n1 a:hover {
    color: #ff0000;
}