*{
    margin: 0;
    padding: 0;
}

.nav {
    background: linear-gradient(90deg, #2e8b57, #006400);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin: 0%;
}

nav {
    margin-top: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Science Gothic", sans-serif;
}

nav a:hover {
    color: #a5f3a5;
    border-bottom: 1px solid white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}


:root {
    --verde: #a7fdaa;
    --verde-escuro: #046a47;
    --cinza: #2e2e2e;
    --branco: #ffffff;
}

.hero {
    background: linear-gradient(135deg, var(--verde), #c2ffdd);
    text-align: center;
    padding: 70px 20px;
    color: var(--cinza);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.hero h1 {
    font-size: 2.6rem;
    margin-bottom: 10px;
    font-family: "Science Gothic", sans-serif;
}

.hero p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.box {
    background: var(--branco);
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 1px solid #e0ffe9;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
    transition: transform .2s ease, box-shadow .2s ease;
}

.box:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 18px rgba(0,0,0,0.12);
}

.box h2 {
    color: var(--verde-escuro);
    margin-bottom: 10px;
    font-family: "Science Gothic", sans-serif;
}

.box p, .box li {
    line-height: 1.6;
    font-size: 1rem;
    color: #444;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.box ul {
    margin-top: 10px;
    padding-left: 20px;
}

footer {
    background: var(--verde);
    text-align: center;
    padding: 18px;
    color: var(--cinza);
    font-weight: bold;
    margin-top: 40px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}
