/* .n1 {
    font-size: 24px;
    font-weight: bold;
    background-color: #92c98d;
    padding: 15px;
    border-radius: 7px;
} */


/* .n1 a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.n1 ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.n1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s;
}
.n1 a:hover {
    color: #ff0000;
} */


/* nav bar */

body {
    margin: 0;
    padding: 0;
}

.n1 {
    background: linear-gradient(90deg, #2e8b57, #006400);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #a5f3a5;
}

.objetivos {
    display: flex;
    flex-direction: column;
    justify-content: ;
    background: #e9f5e9;
    padding: 80px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.curiosidades {
    background: #c8e6c9;
    padding: 60px 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.grid div {
    background: white;
    padding: 20px;
    border-radius: 12px;
    font-weight: 500;
    transition: background 0.3s;
}

.grid div:hover {
    background: #a5d6a7;
}

footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 25px;
}

.icones a {
    margin: 0 8px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s;
}

.icones a:hover {
    transform: rotate(15deg) scale(1.2);
}