.intro {
    background-image: url('https://s2-umsoplaneta.glbimg.com/ZbnHCNgSLgwlsbWpM4cSjrhb-94=/0x0:2122x1412/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_7d5b9b5029304d27b7ef8a7f28b4d70f/internal_photos/bs/2024/o/d/Kv37CgTBWzBkODMpDmwQ/gettyimages-1372221031.jpg');
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 100px 40px 100px;
    margin-top: 90px;
    background-position: 0px -400px;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    background: linear-gradient(90deg, #2e8b57, #006400);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #a5f3a5;
}

.objetivos {
    display: flex;
    flex-direction: column;
    background: #e9f5e9;
    padding: 80px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.curiosidades {
    background: #c8e6c9;
    padding: 80px 40px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.grid div {
    background: white;
    padding: 20px;
    border-radius: 12px;
    font-weight: 500;
    transition: background 0.3s;
}

.grid div:hover {
    background: #a5d6a7;
}

footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 25px;
}

.icones a {
    margin: 0 8px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s;
}

.icones a:hover {
    transform: rotate(15deg) scale(1.2);
}